<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
{% comment %}
Base Template for Cheat Sheats
{% endcomment %}
<html>
  <head>
    <title>{% block title %}Open Cheat Sheets Project{% endblock %}</title>
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/common-all-site.css" rel="stylesheet" type="text/css" />
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="container">
        <!-- An optional HEADER-->
        <div id="indicatorbar">
          {% block indicatorbar %}{% endblock %}
        </div>
        <!-- CONTENT -->
        <div id="site-content">
          {% block content %}{% endblock %}
        </div> 
        <div id="footer">
          {% block footer %} Cheat Sheets &copy; 2011, Philipp Klaus &nbsp;&nbsp;/ <a href="http://github.com/pklaus/CheatSheets">github.com/pklaus/CheatSheets</a>{% endblock %}
        </div>
    </div>
  </body>
</html>
