<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Cheat Sheets</title>
<meta http-equiv="Content-Language" content="en-us" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="css/cheatsheet.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="container">
<h1>This is a Collection of Cheat Sheets</h1>
<div id="site_content">
    {% for cheatsheet in cheatsheets %}
    <div class="{% cycle 'row1' 'row2' %}"><a name="{{cheatsheet.name}}"></a>
        <span class="inline_header">{{cheatsheet.name}}</span> <span class="tools"><a href="{{cheatsheet.url}}">{{cheatsheet.name}}</a></span>
    </div>
    {% endfor %}
</div>


<div class="line">&nbsp;</div>

<div id="footer">Cheat Sheets from <a href="http://github.com/pklaus/CheatSheets">github.com/pklaus/CheatSheets</a>.</div>

</div>

</body>
</html>
